.nav {
  display: inline-block;
  vert-align: top;
  padding-top: 7px;

  @media (min-width: 1035px) {
    margin-left: 165px;
  }

  @media (max-width: 1035px) {
    margin-bottom: 25px;
  }
  @media (max-width: 500px) {
    margin-right: 0;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-family: $ff-main-bold;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-main;
    transition: 0.3s;
    font-size: 0.9rem;

    &:hover,
    &--active {
      color: $color-button-red;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: $color-main;
    }

    @media (max-width: 500px) {
      display: block;
      text-align: center;

      &:after{
        display: none;
      }
    }

    &:last-child:after {
      display: none;
    }
  }
}