// Fonts
$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvetica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';

//Colors
$color-main: #424242;
$color-button-red: #de2b24;
$color-button-yellow: #f8cd53;

