section.approach
    .container
        +title-with-bottom-line("Our Approach","Check Our approches step by step (how we do it)")
        ul.approach__list
            +list-with-steps("Step 1 : Heading Here",
                "../images/step-1.jpg",
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry." +
                "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s," +
                "when an unknown printer took a galley of type and scrambled.")
            +list-with-steps("Step 2 : Heading Here",
                "../images/step-2.jpg",
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry." +
                "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s," +
                "when an unknown printer took a galley of type and scrambled.")
            +list-with-steps("Step 3 : Heading Here",
                "../images/step-3.jpg",
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry." +
                "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s," +
                "when an unknown printer took a galley of type and scrambled.")
            +list-with-steps("Step 4 : Heading Here ",
                "../images/step-4.jpg",
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry." +
                "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s," +
                "when an unknown printer took a galley of type and scrambled.")

