section.work
    .container
        +title-with-bottom-line("Our Work","We are added our featured works below")

        ul.work__list
            +list-without-odd("work","Project","images/work-1.jpg","Fasebook marketing")
            +list-without-odd("work","Project","images/work-2.jpg","Landing page")
            +list-without-even("work","Project","images/work-3.jpg","Landing page")
            +list-without-even("work","Project","images/work-4.jpg","Fasebook marketing")

